* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	color: #000;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #146c94;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
    text-align: center;
}

.trabajos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

nav {
    display: flex;
}

nav ul {
    color: white;
    list-style: none;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

nav ul li {
    margin: 2%;
    color: #f6f1f1;
}

.trabajo {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    flex-basis: 30%;
}

#hero-image {
    width: 80%;
    border: 1px solid;
    margin: 0 auto;
    height: 350px;
    background-image: url();
}

.legalfooter {
    text-align: center;
}

form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7AA874;
    color: #F6F1F1;
    border: none;
  }

  input[type="submit"]:hover {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #146C94;
    color: #F6F1F1;
    border: none;
  }
/*
  Azul oscuro ((#146C94): 60%
Blanco (#F6F1F1): 30%
Azul claro (#19A7CE): 10%
Verde oscuro (#7AA874): Para botones y complementos.
/