* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	color: #000;
}

body {
    font-family: Arial, sans-serif;
}

.navcontrol{
    background-color: #146c94;
}

.logonav{
    width: 150px;
    height: 90px;
}

.mainbox {
    padding: 1.5rem!important;
    width: 80%;
    margin: 0 auto;
}

footer {
    text-align: center;
}

.bannerimg{
    margin-top: 100px;
    height: 50vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url(img/banner2.jpg);
}

.bannerimg p{
    color: white;
}

.trabajos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
}

.trabajo {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    padding: 1rem;
    min-height: 250px;
    flex-basis: 30%;
}

#hero-image {
    background-color: #6c6c6c75;
    width: 80%;
    margin: 0 auto;
    height: 350px;
    background-image: url();
}

.legalfooter {
    text-align: center;
}

form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7AA874;
    color: #F6F1F1;
    border: none;
  }

  input[type="submit"]:hover {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #146C94;
    color: #F6F1F1;
    border: none;
  }
/*
  Azul oscuro ((#146C94): 60%
Blanco (#F6F1F1): 30%
Azul claro (#19A7CE): 10%
Verde oscuro (#7AA874): Para botones y complementos.
*/

/*Inicio Login*/
.principal{
    background: linear-gradient(to right, rgba(20, 108, 148, 0.9), rgba(25, 167, 206, 0.9)), url('img/bg-login.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.principal .color{
    background-color: #7AA874;
    border-radius: 30px;
    padding: 11px 50px 11px 50px;
}

.principal .color:hover{
    background-color: #19A7CE;
    color: white;
}
  
.principal h2,h4,p{
    color: white;
}

.principal .bloque2 h2,h4,p{
    color: black;
    font-weight: bold;
}

.principal .bloque2 .color:hover{
    background-color: #146C94;
    color: white;
}