* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

body {
    font-family: Arial, sans-serif;
}

.navcontrol{
    background-color: #146c94;
}

.logonav{
    width: 150px;
    height: 90px;
}

.mainbox {
    padding: 1.5rem!important;
    width: 80%;
    margin: 0 auto;
}

footer {
    text-align: center;
}

.bannerimg{
    margin-top: 100px;
    height: 50vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 50%),rgba(0, 0, 0, 50%)) ,url("../img/banner2.jpg");
}

.bannerimg p{
    color: white;
}

.trabajos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
}

.trabajo {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    padding: 1rem;
    min-height: 250px;
    flex-basis: 30%;
}

#hero-image {
    background-color: #6c6c6c75;
    width: 80%;
    margin: 0 auto;
    height: 350px;
}

.legalfooter {
    text-align: center;
}

form {
    margin-bottom: 20px;
}
  
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}
  
input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7AA874;
    color: #F6F1F1;
    border: none;
}

input[type="submit"]:hover {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #146C94;
    color: #F6F1F1;
    border: none;
}



/* Inicio Login */

.principal{
    background: linear-gradient(to right, rgba(20, 108, 148, 90%), rgba(25, 167, 206, 90%)), url('../img/bg-login.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.principal .color{
    background-color: #7AA874;
    border-radius: 30px;
    padding: 11px 50px;
}

.principal .color:hover{
    background-color: #19A7CE;
    color: white;
}
  
.principal h2,h4{
    color: white;
}

.principal .bloque2 h2,h4, .bloque2 p {
    color: black;
    font-weight: bold;
}

.principal .bloque2 .color:hover{
    background-color: #146C94;
    color: white;
}

/* Fin Login */

/*
  Azul oscuro ((#146C94): 60%
Blanco (#F6F1F1): 30%
Azul claro (#19A7CE): 10%
Verde oscuro (#7AA874): Para botones y complementos.
*/

/* Inicio Registro */

.mitad{
    height: 100vh;
}

.color1{
    background-color: #7AA874;
}

.iconoregistro1 i{
    font-size: 40px;
    margin-top: 40px;
    color: #F6F1F1;
}

.iconoregistro2 i{
    font-size: 270px;
    color: #F6F1F1;
    margin-top: 80px;
}

.principalregistro .textoregistro ,p{
    color: #F6F1F1;
}

.textoregistro h2{
    margin-top: 150px;
}

.color2{
    background-color: #146C94;
}

.botonInicio{
    background-color: #19A7CE;
    border-top-left-radius: 40px; 
    border-bottom-left-radius: 40px; 
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
    border: 0.5px solid black; 
    padding: 10px;
}

.botonInicio:hover{
    background-color: #146c94;
    color: #F6F1F1;
}

.botonRegistro{
    background-color: #7AA874;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px; 
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
    border: 0.5px solid black; 
    padding: 10px
}

.botonRegistro:hover{
    background-color: #146C94;
    color: #F6F1F1;
}

.content-regis{
    margin-top: 200px;
    margin-left: 100px;
    color: #F6F1F1;
}

.content-regis label{
    color: #F6F1F1;
}

.body-registro{
    overflow-x: hidden;
}


.body-registro .form-control {
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    background-color: #146C94;
    width: 450px;
    color: #F6F1F1;
}
  

.body-registro .form-control::placeholder {
    color: #F6F1F1;
    opacity: 0.7;
    text-align: left;
}


.body-registro .form-control:focus {
    box-shadow: none; /* Elimina la sombra del input cuando está enfocado */
}

.body-registro .form-control:focus::placeholder {
    color: transparent;
}

.botonacepreg{
    background-color: #7AA874;
    border: 0.5px solid black; 
    padding: 10px;
    border-radius: 20px;
}

.botonacepreg:hover{
    border: 0.5px solid black; 
    background-color: #146C94;
    color: white;
}

#politicas {
    transform: scale(1.5); /* aumenta el tamaño del checkbox al doble */
  }
  
#politicas + a {
    color: white; /* cambia el color del texto de la etiqueta "a" a blanco */
}


.form-check-input:checked {
    background-color: #7AA874;
}


